@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Permanent+Marker&display=swap");

body {
  background-color: coral;
}
.clock {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
}

.title {
  font-family: PermanentMarker, cursive;
}

.img_ {
  width: 40%;
  height: auto;
}
